html, body {
    margin: 0;
    padding: 0;
    background-color: lightsteelblue;
}

ul.ui-autocomplete {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    background-color: lightsteelblue;
}

.col {
   display: flex;
   justify-content: center;
}

.col-8 {
    margin-top: 10%;
}




/* map width */
#map_id {
    height: 500px;
    border: 2px solid greenyellow;
}